@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
}


body{
    background: #222;
}

body,h1,h2,h3,h4,h5,h6,h7,p,a,li,ul,ol,b,strong,form,input,div{
	font-family: 'Exo', sans-serif;
}

#wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

#header #navigation li{
  display: inline-block;
  margin-right: 20px;
}

#header #navigation li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#header #navigation li:last-child{
  margin: 0;
} 


#hero #wrapper{
  align-items: center;
  color: #fff;
}

#hero #wrapper h1{
  color: #02A1FD;
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 20px;
}

#hero #wrapper h4{
  font-weight: 100;
  font-size: 1.5vw;
}

#hero #wrapper b{
  color: #02A1FD;
  font-weight: 400;
}

#header{
  background: transparent;
  border-bottom: solid 1px rgba(0,0,0,.4)
}


#header #wrapper{
  align-items: center;
  padding: 15px;
}


#footer{
  color: #fff;
  background: #000;
  padding: 80px 0;
  margin-top: 20px;
}

#footer #footer-section:last-child{
 display: grid;
  align-items: center;
}

#footer-section li{
  list-style: none;
  line-height: 1.5;
}

#footer-section li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-left: 10px;
}

#footer-section h3{
  color: #02A1FD;
  border-bottom: solid 1px #02A1FD;
  margin-bottom: 15px; 
}

.copyright{
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  margin-top: -50px;
}

#footer-section:last-child{
  text-align: center;
}

/*-- Circle Meter ---*/

.circle {
  width: 100px;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-size: 40px;
}

.circle.span {
  display: block;
  margin-top: 12px;
}


/*-- End of Gauge Meter ---*/



#wrapper-skills{
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 80px 0 120px;
}


#wrapper-skills ul{
  column-count: 3;
  margin-top: 80px;
}

#wrapper-skills ul li{
  list-style-type: none;;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.5;
} 

#wrapper-skills h2{
  font-weight: 700;
  color: #02A1FD;
  font-size: 3vw;
  text-align: center;
}

#wrapper-skills p{
  font-size: 1vw;
  text-align: center;
}


#work_inner{  
  margin-bottom: 40px;
}

#works_holder{
  margin-top: 40px;
}

#works_holder h4{
  color: #02A1FD;
  font-size: 1vw;
margin-top: 10px;
}


#works_holder .details_btn{
  text-align: center;
  display: block;
  margin-top: 20px;
}

#works_holder .details_btn a{
  background:  #02A1FD;;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 8px 20px;
}

#works_holder #work_inner{
  display: inline-block;
  width: 31%;  
  vertical-align: top;
  margin-right: 10px;
}

#works_holder #work_inner img{
  width: 100%;
}

#works_holder #work_inner:last-child{
  margin-right: 0;
}

#wrapper-contact{
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
}


#wrapper-contact h2 {
    font-weight: 700;
    color: #02A1FD;
    font-size: 3vw;
    text-align: center;  
  margin-bottom: 30px;
}


#wrapper-contact form{
  max-width: 800px;
  margin: 0 auto;
}

#wrapper-contact .field{
  display: block;  
  margin-bottom: 20px;
}


#wrapper-contact .field label{
  margin-right: 20px;
  display: block;
  margin-bottom: 10px;
}  

#wrapper-contact input{
  width: 97%;
  padding: 10px;
}

#wrapper-contact textarea{
  width: 97%;
  min-height: 100px;
  padding: 10px;
}

#wrapper-contact button{
  background: #02A1FD;
color: #fff;
text-decoration: none;
font-weight: 800;
text-transform: uppercase;
padding: 8px 20px;
  font-family: inherit;
  border:0;
  font-size: 1vw;
  letter-spacing: 2px;
}

#wrapper-contact .field:last-child{
  text-align: right !important;
  display: block;
}

#wrapper-contact {
  padding: 80px 0;
}

#heroleft{
  padding: 0 20px;
}

#footer #wrapper{
  padding: 0 20px;
}



@media screen and (max-width: 1000px) {
  #wrapper{
    display: block;
    text-align: center;    
  }
  #heroleft{
    padding-top: 20px;
  }
  #wrapper-skills ul{
    column-count: 1 !important;
  }
  #footer img{
    margin-top: 2%;
    visibility: hidden;
  }
  #heroleft h1{
    font-size: 2rem !important;
  }
  #heroleft h4{
    font-size: .9rem !important;
  }
  #skills-section p, #skills-section li{
    font-size: .9rem !important;
  }
  #skills-section h2, #works-section h2, #contact-section h2{
    font-size: 2rem !important;
  }
  #works-section a,  #works-section h4{
    font-size: .9rem !important;
  } 
  #contact-section{
    padding: 20px;
  }
  #contact-section button{
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 500px) {
  #works-section #work_inner{
    display: block !important;
    width: 100% !important;
  }
  #works-section #works_holder{
    padding: 20px;
  }
} 


